<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="app">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>Trophy Manager for Dofus</title>

  <link rel="stylesheet" href="assets/css/app.css">

  <!--script src="assets/scripts/vendor/modernizr.js"></script-->

</head>

<body class="grid-block vertical" ng-controller="mainController as main">
  <div class="grid-block shrink header low no-scale">
    <h1 class="grid-content header-title">Trophy manager</h1>
  </div>

  <div class="grid-content shrink">
    <h2>Wtf de trophées</h2>
  </div>
  <div
    class="grid-block small-up-1 medium-up-2 large-up-3">

    <div
      class="grid-block vertical">

      <h3 class="">Liste des trophées</h3>

      <ul
        class="grid-block items vertical neutralized-list">
        <li
          class="item grid-content shrink"
          ng-show="!main.items.length">
          <h4>Aucun item</h4>
        </li>
        <li
          class="grid-content shrink panel item"
          ng-repeat="item in main.items track by item._id">

            <h4 class="item__name">
              {{item.name}}
              <small class="item__type">{{item.type}}</small>
            </h4>
            <a href="#/category" class="item__category">{{item.category}}</a>

            <ul
              class="list list--ingredients">
              <li
                class="ingredient"
                ng-repeat="dosage in item.recipe">
                <span class="ingredient__name columns small-8">
                  {{dosage.ingredient.name}}
                </span>
                <span class="multiplicator">x</span>
                <span class="ingredient__quantity columns small-4">
                  {{dosage.quantity}}
                </span>
              </li>
            </ul>
            <button class="button right item-button" ng-click="main.deleteItem(item._id,$index)">DEL</button>
            <button class="button right item-button" ng-click="main.editItem(item._id,$index)">EDIT</button>
          </li>
        </ul>
      </div>


    <div class="grid-block vertical">
      <h3 class="">Trophée en cours d'édition</h3>

      <div class="item item--alone grid-block shrink" >
        <h4 class="item__name">{{main.formData.name || "_________"}}<small class="item__type">{{main.formData.type || "_________"}}</small></h4>
        <a href="#/category" class="item__category">{{main.formData.category || "_________"}}</a>

        <ul class="grid-block list list--ingredients">
          <li
            class="ingredient"
            ng-show="main.formData.recipe.length"
            ng-repeat="dosage in main.formData.recipe">
            <span class="ingredient__name columns small-8">
              {{dosage.name || "_________"}}
            </span>
            <span class="multiplicator">x</span>
            <span class="ingredient__quantity columns small-4">
              {{dosage.quantity || "___"}}
            </span>
          </li>
        </ul>
      </div>

      <div class="grid-block">
        <div class="form form--edit">
          <ng-form="item">
            <input type="text" class="input input--text" ng-model="main.formData.name" placeholder="{{main.placeHolder.name}}" required>
            <input type="text" class="input input--text" ng-model="main.formData.type" placeholder="{{main.placeHolder.type}}">
            <input type="text" class="input input--text" ng-model="main.formData.category" placeholder="{{main.placeHolder.category}}">
          </ng-form>
          <ul class="list list--ingredients">
            <li class="ingredient grid-block" ng-form="newIngredient">
              <div class="ingredient__name grid-block small-6">
                <input required
                  type="text"
                  class="input input--text"
                  ng-model="main.formData.newIngredient.name"
                  placeholder="{{main.placeHolder.ingredient.name}}">
              </div>
              <div class="ingredient__quantity grid-block small-4">
                <input
                  type="number"
                  class="input input--text"
                  ng-model="main.formData.newIngredient.quantity"
                  placeholder="1">
              </div>
              <div class="grid-block small-2">
                <button class="button--add" ng-click="main.addIngredient()">ADD</button>
              </div>
            </li>
          </ul>
          <input type="submit" class="form__submit button right" ng-click="main.createItem()">
        </div>
      </div>
    </div>
  </div>

  <script src="assets/scripts/vendor/angular/angular.js"></script>
  <script src="assets/scripts/vendor/angular/angular-animate.js"></script>
  <script src="assets/scripts/vendor/mm-foundation-0.5.0.js"></script>

  <script src="assets/scripts/modules/items/itemsController.js"></script>
  <script src="assets/scripts/modules/items/itemsService.js"></script>
  <script src="assets/scripts/app.js"></script>

  <script>
  </script>
</body>

</html>
