.logger {
  display: flex;
  flex-direction: column;

  max-width: 32rem;
  height: 100vh;

  color: #ddd;
}

.logs {
  display: flex;
  overflow: auto;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;

  color: #eee;
  background: #444;

  flex: 1;
  justify-content: flex-end;
}
.log {
  display: flex;
  flex-direction: row;

  min-height: 3rem;
  max-height: 6rem;
  padding: 1rem 3rem 1rem 2rem;

  border-top: #3a3a3a 2px solid;

  font-size: 1.2rem;

  flex: 1;
  align-items: center;
}

.input {
  display: block;

  width: 100%;
  min-height: 5rem;
  padding: 1.5rem 3rem;

  transition: .2s ease-in-out;

  color: #eee;
  border: 0;
  background: #222;

  line-height: 160% ;

  flex: 0;
}
.input:focus {
  outline: 0;
  background: #333;
}
.submit {
  position: absolute;
  right: 0;
  bottom: 0;

  display: none;
}
.input:valid ~ .submit {
  display: block;
}
.icon {
  display: inline-block;

  width: 4rem;
  margin-right: 1rem;

  text-align: center;

  font-family: consolas, monospace;
}
