.logger {
  position: fixed;
  bottom: 3rem;
  left: 3rem;
  right: 3rem;
  background: #111;
  border: #eee 1px solid;
  max-width: 28rem;
  /*width: 100%;*/
  box-shadow: 4px 4px 16px color(#111 alpha(20%));
}

@media (max-width: 400px) {
  .logger {
    bottom: .5rem;
    left: .5rem;
    right: .5rem;
  }
}

.logs {
  padding: 1rem;
  background-color: #eee;
}

.input {
  padding: 1rem;
  color: #eee;
  background: transparent;
  border: 0;
  width: 100%;
  display: block;
  border-top: 1px solid #eee;
}
.input:focus {
  outline: 0;
}
