html, body {
  height: 100%;
}

.layout {
  height: 100%;
}

.layout__sidebar {
  height: 100%;
  float: left;
  width: 6rem;
  overflow: hidden;
}

.layout__page-wrapper {
  height: 100%;
  overflow: auto;
}

.page-wrapper__wrapper--inner {
  padding: 2.5rem;

  @include breakpoint(medium) {
    padding: 2rem 6rem;
  }
  @include breakpoint(large) {
    // padding: 9rem;
  }
}

.layout__fab {
  position: fixed;
  z-index: $fab-zindex;
  right: 1rem;
  bottom: 1rem;
}
