body {
  padding: 2rem;
  padding-top: $header-height;

  @include breakpoint(medium) {
    padding: 5rem;
    padding-top: $header-height;
  }
  @include breakpoint(large) {
    padding: 9rem;
    padding-top: $header-height;
  }
}
