<ng-form
  class="create-item-view modal"
  name="createItemForm"
  ng-submit="createItem">

  <input
    class="modal__input"
    type="text"
    placeholder="Nom de l'ingrédient"
    ng-model="newItem.name"
    focus-me="actionView">

  <input
    class="modal__input"
    type="text"
    placeholder="Type"
    ng-model="newItem.type">

  <input
    class="modal__input"
    type="text"
    placeholder="Catégorie"
    ng-model="newItem.category">

  <recipe model="newItem.recipe"></recipe>

  <button
    type="submit"
    class="submit success">
    Create
  </button>

</ng-form>
