.card__wrapper--outer {
  // transition: all .5s ease-in-out;
}

.card {
  position: relative;
  background: #000;
  border: 0;
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 0.75rem; //scale
  z-index: $card-zindex;

  &.bigger {
    padding: 1rem;
  }

  &.selected {
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
    border: .5rem solid rgba(255,255,255,0.5);
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;

    .card__area {
      padding: .5rem;
    }

  }
}

  .card__area {
    margin: 0;
    padding: 1rem;

    .selected &:first-child {
      padding-bottom: 1rem;
    }
    .selected &:last-child {
      padding-top: 1rem;
    }
    .selected &:last-child:first-child {
      padding: .5rem;
    }
  }

  .area--benef {
    text-align: center;
    background: rgba(0,0,0,.2) !important;
  }

  .card__title, .card__price  {
    margin: 0;
    font-size: .75rem;
  }

    .card__title {
      font-weight: bolder;
    }
