<div class="card card--{{ ::card.model.categorySlug }} [ cursor-pointer ]"
  ng-class="{
    'bigger': card.bigger,
    'selected': card.selected
  }"
  ng-click="card.toggleSelection()"
  style="
    background: hsl(
      {{ card.model.category | hue }},
      {{ ::card.getSaturation() }}%,
      {{ ::card.getLuminosity() }}%
    );">

  <div class="card__area area--description" style="">
    <h2 class="card__title" >
      <span style="
      font-size: {{ card.getPonderedValue({ min: 1, max: 1.5, disabled: 1 }) }}em;">
        {{ card.model.name }}
      </span>
    </h2>
    <p class="card__price">
      <span style="
      font-size: {{ card.getPonderedValue({ min: 1, max: 1.5, disabled: 1 }) }}em;">
        {{ card.model.price|currency:'k':0 }}
      </span>
    </p>
  </div>

  <div class="card__recipe recipe" ng-if="card.expanded && card.model.recipe.length">

    <div ng-repeat="dosage in card.model.recipe"
      class="recipe__dosage dosage"
      style="background: hsl(
        {{ (dosage._ingredient.category | hue) || 0}},
        70%,
        45%
      );">
      <span class="dosage__ingredient ingredient">
        {{ dosage.quantity }} {{ dosage._ingredient.name }}
      </span>
    </div>
  </div>


  <p style="
    background: hsla({{ ::card.category | hue }}, 27%, 44%, {{ !card.model.selected }});
    font-size: {{ card.getPonderedValue({ min: 1.2, max: 1.5, disabled: 1 }) }}em;"
    class="card__area area--benef"
    ng-if="card.model.recipe.length && card.price">
      <span class="card__benef benef benef--taux">
        <span ng-if="card.calcBenefitsRate() > 0">+</span>{{ card.calcBenefitsRate()|number:0 }}%
      </span>
      |
      <span class="card__benef benef benef--fixe">
        <span ng-if="card.calcBenefits() > 0">+</span>{{ card.calcBenefits()|currency:'k':0 }}
      </span>
  </p>

</div>
