.contentWrapper {
  padding: 2rem;
}

.statusBar {
  background: #000;
  position: relative;;
  bottom: 0;
  left: 0;
  right: 0;

  font-size: 1.2rem;
  line-height: 100%;
  font-family: consolas, monospace;
  color: #fff;

  padding: 1rem 1rem;
  margin-top: 2rem;
}
