<div class="item">
  <p>
    <h4
      class="item__name"
      editable-text="model.name"
      buttons="no"
      onaftersave="item.save(true)"
      e-placeholder="nom"
      blur="submit">
      {{model.name || 'nom'}}
    </h4>
    <small
      class="item__type"
      editable-text="model.type"
      buttons="no"
      onaftersave="item.save()"
      e-placeholder="type"
      blur="submit">
      {{model.type || 'type'}}
    </small>
  </p>
  <a
    href="#/category"
    class="item__category"
    editable-text="model.category"
    buttons="no"
    onaftersave="item.save()"
    e-placeholder="catégorie"
    blur="submit">
    {{model.category || 'catégorie'}}
  </a>
  <div
    class="list list--recipe">
    <div recipe="model.recipe"></div>
  </div>

  <button
    ng-show="status != 'readonly'"
    class="item__button alert"
    ng-click="item.delete()">
    DEL
  </button>

</div>
