<div class="item">
  <h4 class="item__name">
    {{item.name}}
    <small class="item__type">{{item.type}}</small>
  </h4>
  <a href="#/category" class="item__category">{{item.category}}</a>

  <ul
    class="list list--ingredients">
    <li
      class="ingredient"
      ng-repeat="dosage in item.recipe">
      <span class="ingredient__name columns small-8">
        {{dosage.name}}
      </span>
      <span class="multiplicator">x</span>
      <span class="ingredient__quantity columns small-4">
        {{dosage.quantity}}
      </span>
    </li>
  </ul>

  <button class="button right item-button" ng-click="main.deleteItem(item._id,$index)">DEL</button>
  <button class="button right item-button" ng-click="main.editItem(item._id,$index)">EDIT</button>

</div>
