<div class="item">
    <p
      class="item__type"
      editable-text="model.type"
      buttons="no"
      onaftersave="item.save()"
      e-placeholder="type"
      blur="submit">
      {{model.type || 'type'}}
    </p>
    <h4
      class="item__name"
      editable-text="model.name"
      buttons="no"
      onaftersave="item.save()"
      e-placeholder="nom"
      blur="submit">
      {{model.name || 'nom'}}
    </h4>
  <p class="item__category">
    <a
      href="#/category"
      class=""
      editable-text="model.category"
      buttons="no"
      onaftersave="item.save()"
      e-placeholder="catégorie"
      blur="submit">
      {{model.category || 'catégorie'}}
    </a>
  </p>
  <div class="row">
    <button
      class="button button--toggle"
      ng-init="item.showRecipe = false"
      ng-click="item.showRecipe = !item.showRecipe">
      recette <span ng-hide="item.showRecipe">></span><span ng-show="item.showRecipe">x</span>
    </button>
    <button
      ng-show="status != 'readonly'"
      class="button button--delete alert"
      ng-click="item.delete()">
      DEL
    </button>
  </div>
  <div
    class="recipe"
    ng-show="item.showRecipe">
    <recipe model="model.recipe"></recipe>
  </div>



</div>
