.fixedContainer {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0rem;
  left: 6rem;

  display: flex;

  padding: 1rem 2rem;

  background: #eee;
}
.placeholder {
  height: 1rem;
}

.sortOrder {
  cursor: pointer;
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sortOrder input[type='checkbox'] {
  width: 0;
  height: 0;
  margin: 0;

  opacity: 0;
}

.sortOrder span {
  cursor: pointer;
}

.sortOrder input[type='checkbox'] + span:matches(::before,::after) {
  font-size: 1rem;
}
.sortOrder input[type='checkbox'] + span::before {
  /* ASC */
  margin-right: .125rem;
  content: "ASC";
}
.sortOrder input[type='checkbox'] + span::after {
  /* DESC */
  margin-right: .125rem;
  content: "DESC";
}

/* checked (ascending = ON) */
.sortOrder.sortOrder input[type='checkbox']:checked + span::before {
  /* ASC */
  color: #333;
  font-weight: bolder;
}
.sortOrder.sortOrder input[type='checkbox']:checked + span::after {
  /* DESC */
  color: #aaa;
  font-weight: normal;
}

/* not checked (ascending = OFF) */
.sortOrder input[type='checkbox']:not(:checked) + span::before {
  /* ASC */
  color: #aaa;
  font-weight: normal;
}
.sortOrder input[type='checkbox']:not(:checked) + span::after {
  /* DESC */
  color: #333;
  font-weight: bolder;
}
