  <!-- <div class="isotope" isotope-container="isotope-container">
    <div isotope-item="isotope-item"
      class="deck__card__wrapper--outer card__wrapper--outer isotope-item"
      ng-class="{bigger: element.bigger}"
      ng-repeat="element in renderedElements track by element._id" inject>
    </div>
  </div> -->
  <div class="deck">
    <div class="deck__card__wrapper--outer card__wrapper--outer"
      ng-class="{bigger: element.bigger}"
      ng-repeat="element in elements track by element._id" inject>
    </div>
  </div>
