.container {
  width: 100%;
  padding: 2rem;
  background: #111;
  color: #fff;
  font-size: 1.2rem;
}

.item {
  display: flex;
  max-width: 30rem;
  margin-bottom: 1rem;
}

.price {
  border-bottom: 1px solid #fff;
  flex: 1;
  text-align: right;
  display: flex;
  align-items: flex-end;
}

.name {

}

.input {
  background: transparent;
  padding: 0;
  border: 0;
  text-align: right;
  color: inherit;
  flex: 1 1 1rem;
  display: inline-block;
  width: 1px;
}

.input:focus {
  /*outline: none;*/
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.currency {
  margin-left: .75rem;
}
