.dosage {
  @include color-code();
  color: #fff;
  position: relative;
  padding-right: 1.5rem;
  padding-left: 0.5rem;
  line-height: 2rem;
  height: auto;
  font-size: 0.75rem;
}

#{$text-input-selectors}{
  &.input {
    background-color: #fff;
    color: #444;
    border: 0;
  }
  &.dosage__quantity {
    color: inherit;
    background: transparent;
    font-size: 0.75rem;
    height: 0.75rem;
    padding: 0;
    border: 0;
    width: 2rem;
    display: inline-block;
    text-align: right;
    position: relative;
    top: 0.35rem;
  }
}

&.input--quantity {
  margin: 0;
  display: inline-block;
}

.dosage__deleteButton {
  cursor: pointer;
  color: #f00;
  float: right;
  position: relative;
  left: 1rem;
  top: .25rem;
  line-height: 2rem;
}
