<div class="tags-wrapper">
  <input
    type="text"
    class="input"
    placeholder="{{placeHolder}}"
    ng-keydown="checkKeyDown($event)"
    ng-model="searchText"
    ng-change="search()">
  <ul class="suggestions-list" ng-show="showSuggestions">
    <li
      ng-repeat="suggestion in suggestions"
      class="suggestion"
      ng-class="{
        'suggestion--highlighted' : $parent.selectedIndex == $index
      }"
      style="background: hsl(
        {{ ::suggestion.category | hue}},
        {{($index == $parent.selectedIndex) ? 90 : 50}}%,
        45%
      )"
      ng-click="addToModel($index)"
      ng-mouseover="$parent.selectedIndex=$index"
      ng-class="{ 'active': selectedIndex === $index || (selectedIndex === -1 && $index === -1) }">
      {{quantity}} {{suggestion.name}}
    </li>
  </ul>
</div>
