<div
  class="recipe">
  <div ng-repeat="dosage in model track by dosage._ingredient.name"
    class="dosage"
    style="background: hsl(
      {{ ::dosage._ingredient.category | hue}},
      70%,
      45%
    )">
    <span class="dosage__quantity">
      {{ ::dosage.quantity }}
    </span>
    <span class="dosage__ingredient">
      {{ ::dosage._ingredient.name }}
    </span>

    <button type="button" class="dosage__deleteButton deleteButton"
      ng-click="removeIngredient($index)">
    </button>
  </div>
  <div class="ingredient__name small-12">
    <auto-complete
      class="input input--text input--autocomplete"
      url="/item/name"
      placeholder="Ingrédient">
    </auto-complete>
  </div>
</div>
