.stockStatus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 6rem;

  color: #fff;
  background: transparent;
}
.stockStatus > * {
  color: #fff;
  background: transparent;
  background-color: rgba(0,0,0, .2);

  font-size: 2rem;

  flex: 2;
}
.stockStatus:last-child {
  flex: 1;
}

.hexagon {
  color: rgba(0, 0, 0, .2);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  margin: 0 .6rem;
}
.hexagon.isActive {
  color: rgba(0, 0, 0, .4);
}
.hexagon:hover, .hexagon:focus, .hexagon:active {
  color: rgba(0, 0, 0, .6);
  outline: 0;
}
.inner1 {
  height: 6rem;
  margin: 0 -1rem;
  padding: 0 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: stretch;
}

.inner1::after,
.inner2::before,
.inner2::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  border-top: 3rem solid transparent;
  border-bottom: 3rem solid transparent;
}
.inner1::after {
  border-left: 1rem solid currentColor;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.inner2::before {
  border-right: 1rem solid currentColor;
  left: 0;
  bottom: 0;
  transform: translateY(50%);
}
.inner2::after {
  border-right: 1rem solid currentColor;
  left: 0;
  top: 0;
  transform: translateY(-50%);
}
.inner2 {
  background-color: currentColor;
  display: flex;
  flex: 1;
  align-items: center;
  text-align: center;
  padding: 0 .25rem;
  line-height: normal;
}
.inner2 > * {
  color: #fff;
  flex: 1;
}

.hexagon:first-child {
  margin-left: 0;
}
.hexagon:first-child .inner2::after,
.hexagon:first-child .inner2::before {
  display: none;
}
.hexagon:first-child .inner2 > * {
  left: 0;
}

.hexagon:last-child {
  margin-right: 0;
}
.hexagon:last-child .inner1::after {
  display: none;
}
