<div
  class="ingredient">
  <span
    class="ingredient__name [ columns small-8 ]"
    editable-search="dosage._ingredient.name"
    buttons="no"
    onaftersave="item.save()"
    e-placeholder="ingrédient"
    blur="submit">
    {{dosage._ingredient.name || 'ingrédient'}}
  </span>
  <span class="multiplicator">x</span>
  <span
    class="ingredient__quantity columns small-4"
    editable-number="dosage.quantity"
    buttons="no"
    onaftersave="item.save()"
    e-placeholder="quantité"
    blur="submit">
    {{dosage.quantity || 'quantité'}}
  </span>
</div>
