$gutter-width: 1rem;
$amazingQuery-height: 4rem;

.page-wrapper__wrapper--inner {
  padding: $gutter-width / 2;
}

.deck {
  margin: auto;
  width: auto;
  padding-top: $amazingQuery-height;
  // // margin: - $gutter-width / 2;
  // display: flex;
  // // flex-direction: row;
  // flex-wrap: wrap;
  column-count: 2;
  column-gap: 0;
  // column-fill: balance;

  @include breakpoint('medium'){
    column-count: 3;
  }
  @include breakpoint('large'){
    column-count: 5;
  }
}

  .deck__card__wrapper--outer {
    // transition: all .2s ease-in-out;
    width: 100%;
    padding: $gutter-width / 2;
    // width: 100%;
    // margin-bottom: $gutter-width;
    display: inline-block;
    // @include breakpoint('medium'){
    //   width: 50%;
    // }
    // @include breakpoint('large'){
    //   width: 33.333%;
    // }
    // transition: width .5s ease-in-out;

    &.bigger {
      width: 100%;
      padding: 0;
      column-span: all;
    }
  }

  .deck__amazingQuery {
    position: fixed;
    left: 6 + 2rem;
    right: 2rem;
    top: 2rem;
    width: auto;
  }
