$gutter-width: 4px;
$amazingQuery-height: 6rem;

.page-wrapper__wrapper--inner {
  padding: $gutter-width / 2;
}

.deck {
  margin: auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

  .deck__card {
    flex: 1 1 auto;
    display: flex;
    margin: $gutter-width / 2;
  }

  .deck__amazingQuery {
    position: fixed;
    left: 6 + 0rem;
    right: 0;
    top: 0;
    width: auto;
    z-index: 99;
  }

  .amazingQuery__wrapper--outer {
    height: $amazingQuery-height;

    input {
      width: 100%;
      line-height: 1rem;
      padding: 1rem;
    }
  }
