<div class="page-wrapper__wrapper--inner">

  <div class="deck__amazingQuery amazingQuery [ fixed ]">
    <input class="amazingQuery__input" type="text"
      placeholder="Amazing query... search by 'keyword', 'key':'!value' and even by 'key.deepkey'<'value' !"
      ng-model="deck.query"
      ng-change="deck.filterCards()">
  </div>

    <div class="deck">
      <div class="deck__card__wrapper--outer card__wrapper--outer"
        ng-class="{bigger: card.bigger}"
        ng-repeat="card in deck.cards track by card._id">
        <div card="card"></div>
      </div>
    </div>

</div>
