.container {
  background: #111;
  display: flex;
  align-items: flex-end;
  padding: 2rem;
}

.logo {
  color: #fff;
  text-align: center;
  flex-direction: column;
  width: 8rem;
  display: block;
  margin-right: 2rem;

  & > span {
    display: block;
  }
  & > span:first-child {
    font-size: 4rem;
  }
  & > span:last-child {
    font-size: 1.6rem;
  }
}
