.editor {
  @extend .card;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  overflow: visible;
  position: relative;
}

.editor__title {
  color: #fff
}

.editor__area {
  @extend .card__area;
}

.input--price {
  @extend .card__price;
}

.input--title {
  @extend .card__title;
}

.ingredient__name {
  width: 100%;
}

.editor__actionBar {
  position: absolute;
  right: 1rem;
  bottom: 0;
  transform: translateY(50%);
}

.actionBar {

}

.actionBar__button {
  &, &:hover, &:active, &:focus {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    border: 0;
    margin-left: .5rem;
  }

  &:last-child {
    &, &:hover, &:active, &:focus {
      width: 3rem;
      height: 3rem;
      border-radius: 1.5rem;
    }
  }
}
