<div class="page-wrapper__wrapper--inner">


<h2 class="editor__title">Récemments édités</h2>

<div class="deck">
  <div class="deck__card__wrapper--outer card__wrapper--outer">
    <div card="editor.currItem" expanded="true"></div>
  </div>
  <div class="deck__card__wrapper--outer card__wrapper--outer"
    ng-repeat="card in editor.savedItems track by card._id">
    <div card="card" expanded="true"></div>
  </div>
</div>

<form
  ng-controller="EditorCtrl"
  class="editor"
  name="editorForm"
  ng-submit="editor.save()"
  editable-form>

  <h2 class="editor__title">En cours d'édition</h2>

  <input
    class="editor__input"
    type="text"
    placeholder="Nom de l'ingrédient"
    ng-model="editor.currItem.name"
    ng-change="editor.addChildIngredient()"
    focus-me="editor.focus == 'name'">

  <input
    class="editor__input"
    type="text"
    placeholder="Prix"
    ng-model="editor.currItem.price">

  <input
    class="editor__input"
    type="text"
    placeholder="Catégorie"
    ng-change="editor.addChildIngredient()"
    ng-model="editor.currItem.category">

  <recipe model="editor.currItem.recipe"></recipe>

  <button
    type="submit"
    class="button submit success">
    Create
  </button>

</form>


<h2 class="editor__title" ng-if="editor.newDependencies.length">Nouvelles dépendances</h2>
<div class="deck">
  <div class="deck__card__wrapper--outer card__wrapper--outer"
    ng-repeat="card in editor.newDependencies track by card._id">
    <div card="card"></div>
  </div>
</div>

</div>
