.action-bubble {
  @extend .material;
  @extend .high;
  @extend .no-scale;

  position: fixed;
  bottom: 2rem;
  right: 2rem;

  cursor: pointer;

  width: 5rem;
  height: 5rem;

  &, &:hover{
    border-radius: 50%;
  }

  z-index: 999;

  background: #f00;
  display: flex;
  opacity: 1;

  transition: all .5s ease-in-out;

  &.ng-hide{
    opacity: 0;
    transition: all 0.5s 1s ease-in-out;
  }
}

.action-bubble:hover:after {
  transform: rotate(180deg);
}

.action-bubble:after {
  transition: all .5s ease-in-out;
  line-height: 100%;
  content: '+';
  display: block;
  margin: auto;
}
