#{$text-input-selectors} {
  &.input.input {
    width: 100%;
    background: rgba(0,0,0,.2);
    color: #fff;
    border-bottom: 2px solid #fff;
    padding: .5rem;
    margin-top: 1rem;

    &::-webkit-input-placeholder {
      color: #777;
    }

  }
  &.input--text {}
}

.input {
  width: 100%;
}

.list {}

.list--recipe {
  padding: 0;
  margin: 0;
}

.tags-wrapper {
  position: relative;
  z-index: 1;
}

.suggestions-list {
  // @extend .low;
  z-index: 100;
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -2px;
  background: $primary-color;
  border: .25rem solid #fff;
  border-top: 0;
  box-shadow: 0 5px 5px rgba(0,0,0,.5);
}

.suggestion {
  position: relative;
  color: #444;
  padding: 0.25rem;
}

.suggestion.suggestion--highlighted {
  color: #000;
  // border: 1px solid #000;
}

.suggestion.active::after{
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  pointer-events: none;

  background: #000;
  opacity: .1;
}

.ingredient {
  list-style: none;
}

.editable-wrap {
  display: block;
}

.editable-input {
  height: auto !important;
  width: auto !important;
  display: block !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
