.sidebar {
  background: $primary-color;
}

.sidebar__wrapper--inner {
  padding: 2rem;
}

  .sidebar__swaps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;

    margin: 0;
  }

    .sidebar__swap {
      display: inline-block;

      a {
        display: block;
        color: #fff;
      }
    }
