.form {}

.form--edit {

}
#{$text-input-selectors} {
  &.input {
    width: 100%;
  }
  &.input--text {}
}

.input {
  width: 100%;
}

.list {}

.list--recipe {
  padding: 0;
  margin: 0;
}

.tags-wrapper {
  position: relative;
}

.suggestions-list {
  @extend .low;

  position: absolute;
  top: 2.5rem;
  left: 0;
  right: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background: $primary-color;
}

.suggestion {
  color: #fff;
  padding: 0.25rem 0.5rem;
}

.suggestion.active{
  background-color: darken($primary-color, 10%);
}

.ingredient {
  list-style: none;
}

.editable-input {
  height: auto !important;
  width: auto !important;
  display: inline !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
