.form {}

.form--edit {

}
#{$text-input-selectors}{
  &.input {}
  &.input--text {}
  &.input--quantity {
    width: 4rem;
    display: inline-block;
  }
}

.list {}

.list--recipe {
  padding: 0;
  margin: 0;
}

.ingredient {
  list-style: none;
}

.editable-input {
  height: auto !important;
  width: auto !important;
  display: inline !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
