$row-height : 3rem;

.grid-block{
  overflow: visible;
}

.list--items .item{
  &:first-child{
    @extend .cut-top;
  }
  &:last-child{
    @extend .cut-bottom;
  }
}

.list{
  transition: all 0.5s ease-in-out;
}

.list__block{
  position: absolute;
  width: 100%;

  transition: all 0.5s ease-in-out;
}

.item{
  @extend .panel;
  position: relative;
  padding: 2rem;
  text-transform: capitalize;
  display: block;
  border: 1px solid #eee;
}

.item--alone {
  margin-bottom: 2rem;
}

.item__button{
  @extend .button;
  float: right;
  margin: 0;
}
