$row-height : 3rem;

.grid-block{
  overflow: visible;
}

.list--items .item{
  &:first-child{
    @extend .cut-top;
  }
  &:last-child{
    @extend .cut-bottom;
  }
}

.stack{
  flex-direction: column-reverse;

  position: relative;
  transition: all .5s ease-in-out;
}

.stack__element{
  opacity: 1;
  max-height: 160px;
  transition:
    opacity .2s 0s ease-in,
    transform .2s 0s ease-in,
    max-height .2s 0s ease-in-out;

  &.ng-enter, &.ng-hide-remove{
    max-height: 1px;
    transform: translate(0, -160px) scale(5/4);
    opacity: 0;
    z-index: 999;
  }

  &:hover{
    // margin-bottom: -160px;
    // transform: translateX(-200%);
    // opacity: 0;
  }

  &.ng-leave-active, &.ng-hide-add{
    max-height: 1px;
    transform: translate(100%, 0) scale(4/5);
    opacity: 0;
    transition:
      opacity .2s 0s ease-in,
      transform .2s 0s ease-in,
      max-height .5s 0s ease-in-out;
    z-index: 0;

  }
}

.item{
  @extend .panel;
  position: relative;
  padding: 2rem;
  text-transform: capitalize;
  display: block;
  border: 1px solid #eee;
}

.item--alone {
  margin-bottom: 2rem;
}

.item__button{
  @extend .button;
  float: right;
  margin: 0;
}
