@mixin color-code() {
  @extend .default;

  &.meta {
    @extend .meta;
  }
  &.trophee-mineur {
    @extend .trophee-mineur;
  }
  &.trophee-moyen {
    @extend .trophee-moyen;
  }
  &.trophee-majeur {
    @extend .trophee-majeur;
  }
  &.bouclier {
    @extend .bouclier;
  }
}

.default {
  $self-color: $item-default-color;
  background-color: $self-color;
  &.active {
    background-color: darken($self-color, 20%);
  }
}

.meta {
  $self-color: $item-meta-color;
  background-color: $self-color;
  &.active {
    background-color: darken($self-color, 20%);
  }
}
.trophee-mineur {
  $self-color: $item-minor-color;
  background-color: $self-color;
  &.active {
    background-color: darken($self-color, 20%);
  }}
.trophee-moyen {
  $self-color: $item-middle-color;
  background-color: $self-color;
  &.active {
    background-color: darken($self-color, 20%);
  }}
.trophee-majeur {
  $self-color: $item-major-color;
  background-color: $self-color;
  &.active {
    background-color: darken($self-color, 20%);
  }}
.bouclier {
  $self-color: $item-shield-color;
  background-color: $self-color;
  &.active {
    background-color: darken($self-color, 20%);
  }}
