<div
  class=""
  ng-controller="ItemsListCtrl">

  <div class="grid-block shrink header low no-scale">
    <h1 class="grid-content header__title">Trophy manager</h1>
    <input
      class="header__search-bar search-bar"
      ng-change="filterItems()"
      ng-model="filter">
  </div>

  <div
    class="stack">
    <item
      model="item"
      ng-repeat="item in items track by item._id"
      class="stack__element">
    </item>
    <!-- <item
      model="blankItem"
      class="stack__element stack__element--full-width">
    </item> -->
  </div>
</div>
