<div
  class="grid-block shrink vertical"
  ng-controller="ItemsListCtrl">

  <h3 class="grid-content shrink">Liste des trophées</h3>
  {{ctrl}}
  <div
    class="grid-block stack list--items vertical"
    style="
      position: relative;">
    <item
      model="blankItem"
      status="readonly"
      ng-show="!items.length"
      class="stack__element">
      <h4>Aucun item</h4>
    </item>
    <item
      model="item"
      status="pending"
      ng-repeat="item in items track by item._id"
      class="stack__element">
    </item>
  </div>
</div>
