<div
  ng-class="{
    'item--selected':item.selected,
    }"
  ng-show="isVisible()"
  on-context-menu="openContextMenu()"
  ng-click="selectItem()"
  class="item {{className}} item--inline">

  <form
    editable-form name="itemForm"
    class="item__wrapper--inner" >
    <span
      editable-text="model.type"
      class="item__type">{{model.type || 'Basique'}}</span>
    <span
      editable-text="model.name"
      class="item__name">{{model.name}}</span>
    <input
      ng-focus="item.selected = true"
      ng-blur="item.selected = false; saveItem($index)"
      ng-enter="focusNext($index)"
      type="text"
      class="item__price input input__price"
      select-on-focus
      format-as-currency="k"
      ng-model="model.price">
  </form>

    <rich-context-menu class="item__contextMenu" trigger="displayContextMenu">
      <ng-include src="'modules/item/contextmenu.html'"></ng-include>
    </rich-context-menu>
    <recipe
      ng-if="item.showRecipe"
      model="item.recipe"
      class="item__recipe recipe">
    </recipe>

</div>
