<div
  ng-class="className"
  ng-show="isVisible()"
  on-context-menu="item.displayContextMenu = !item.displayContextMenu"
  class="item">

  <div
    class="item__button--action-sheet"
    ng-click="item.displayContextMenu = !item.displayContextMenu">
    ^
  </div>
  <ng-include src="'modules/item/contextmenu.html'" ng-if="item.displayContextMenu"></ng-include>

    <!-- <div class="small-menu row">
      <button
        class="button button--toggle"
        ng-init="item.showRecipe = false"
        ng-click="item.showRecipe = !item.showRecipe">
        recette <span ng-hide="item.showRecipe">></span><span ng-show="item.showRecipe">x</span>
      </button>
      <button
        ng-show="status != 'readonly'"
        class="button button--delete alert"
        ng-click="item.delete()">
        DEL
      </button>
    </div> -->
    <p
      class="item__type"
      editable-text="model.type"
      buttons="no"
      onaftersave="item.save()"
      e-placeholder="type"
      blur="submit">
      {{model.type || 'type'}}
    </p>
    <h4
      class="item__name"
      editable-text="model.name"
      buttons="no"
      onaftersave="item.save()"
      e-placeholder="nom"
      blur="submit">
      {{model.name || 'nom'}}
    </h4>
  <p class="item__category">
    <a
      href="#/category"
      class=""
      editable-text="model.category"
      buttons="no"
      onaftersave="item.save()"
      e-placeholder="catégorie"
      blur="submit">
      {{model.category || 'catégorie'}}
    </a>
  </p>
  <div
    class="recipe"
    ng-if="item.showRecipe">
    <recipe model="model.recipe"></recipe>
  </div>
</div>
