<div
  ng-class="{
    'item--selected':item.selected,
    }"
  ng-show="isVisible()"
  on-context-menu="openContextMenu()"
  ng-click="selectItem()"
  class="item {{className}}">

  <rich-context-menu class="item__contextMenu" trigger="displayContextMenu">
    <ng-include src="'modules/item/contextmenu.html'"></ng-include>
  </rich-context-menu>
    <p
      class="item__type"
      editable-text="model.type"
      buttons="no"
      onaftersave="item.save()"
      e-placeholder="type"
      blur="submit">
      {{model.type || 'type'}}
    </p>
    <h4
      class="item__name"
      editable-text="model.name"
      buttons="no"
      onaftersave="item.save()"
      e-placeholder="nom"
      blur="submit">
      {{model.name || 'nom'}}
    </h4>
  <p class="item__category">
    <a
      href="#/category"
      class=""
      editable-text="model.category"
      buttons="no"
      onaftersave="item.save()"
      e-placeholder="catégorie"
      blur="submit">
      {{model.category || 'catégorie'}}
    </a>
  </p>
  <div
    class="recipe"
    ng-if="item.showRecipe">
    <recipe model="model.recipe"></recipe>
  </div>
</div>
