$row-height : 3rem;

.grid-block{
}

.list--items .item{
  &:first-child{
    @extend .cut-top;
  }
  &:last-child{
    @extend .cut-bottom;
  }
}

.item{
  @include color-code();

  position: relative;
  box-shadow: 0;
  // border: 2px solid lighten($secondary-color, 80%);
  border-width: 0;
  overflow: visible;
  padding: 1rem;
  display: block;
  color: #fff;
  transition: all .1s ease-in-out;
}

.item--selected {
  border: 0.5rem solid hsla(0, 0, 100, 0.5);
  padding: 0.5rem;
}

.item--alone {
  margin-bottom: 2rem;
}

.item__type {
  margin: 0;
  font-size: 0.75rem;
  color: inherit;

}

.item__name {
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
  color: inherit;

}

.item__name--nega {
  color: #000;
  text-align: center;
  margin: auto;
}

.item__category {
  font-size: 1rem;
  margin: 0;
  color: inherit;

}

.item__button{
  @extend .button;
  float: right;
  margin: 0;
}

.item .editable {

}

.item .editable-click{
  border-bottom: 0;
}

.item .editable-empty{
  color: #aaa;
}

.item__button--action-sheet{
  position: absolute;
  top: 0;
  right: 0;
}

.item__contextMenu{

}
