.collection {
  box-sizing: content-box;
  margin: 1rem -1rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.children {
  flex: 1 1 20rem;
  padding: 1rem;
}
