.collection {
  box-sizing: content-box;
  margin: 1rem -1rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.children {
  box-sizing: border-box;
  flex: 1 1 24rem;
  padding: 1rem;
  max-width: 100%;

  @media screen and (min-width: 32rem) {
    max-width: 50%;
  }
  @media screen and (min-width: 64rem) {
    max-width: 33.33333%;
  }
  @media screen and (min-width: 96rem) {
    max-width: 25%;
  }
}
